@import "/header.css";
@import "/main-section-one.css";
@import "/main-section-two.css";
@import "/main-section-three.css";
@import "/main-section-four.css";
@import "/footer.css";
@import "/button.css";
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Roboto:wght@300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root{
    --dark-green-color:#28464b;
    --middle-green-color:#6da6b0;
    --light-green-color:#c5f5fd;
  }
  body{
    font-family: 'Roboto', sans-serif;
    background: url(/image/bodyimage.png);
    padding-top: 10em;
  }