.third-section{
    margin-top:2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background-image: url(/image/ripples.svg);
    padding-bottom: 2em;
   
}
.second-grid{
    display: grid;
  grid-template-columns: 1fr;
  margin-top: 2em;
 text-align: center;
  place-items: center;
  background-color:rgba(40, 70, 75, 0.1); ;
  width: 80%;
  border-radius: 10px;
  padding: 1em;
  padding-bottom: 2em;
  box-shadow: 0 8px 32px 0 rgb(171, 170, 170, 0.5);
    backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
}
.second-grid img{
    width: 100%;
    height: 100%;
}
.bottom-glass-heading-one, .bottom-glass-heading-two, .bottom-glass-para{
    margin-bottom: 1em;
    color: var(--light-green-color);

}