.multi-container {
  display: flex;
}

.upper-plate {
  height: 0;
  width: 0;
  border-left: 30vw solid var(--middle-green-color);
  border-bottom: 8vh solid var(--dark-green-color);
}
.side-plater {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-green-color);
  width: 70vw;
  height: 8vh;
  font-size: 1.5em;
  color: var(--light-green-color);
}
.second-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first-grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 2em;
 gap: 2em;
  place-items: center;
  background-color:rgba(40, 70, 75, 0.1); ;
  width: 70%;
  border-radius: 10px;
  padding-bottom: 2em;
  /* padding: 2em; */
  box-shadow: 0 8px 32px 0 rgb(171, 170, 170);
    backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
}


.first-grid .a-box {
  display: inline-block;
  width: 240px;
  text-align: center;
}

.first-grid .img-container {
  height: 230px;
  width: 200px;
  overflow: hidden;
  border-radius: 0px 0px 20px 20px;
  display: inline-block;
}

.first-grid .img-container img {
  transform: skew(0deg, -13deg);
  height: 250px;
  margin: -35px 0px 0px -70px;
}

.first-grid .inner-skew {
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px;
  transform: skew(0deg, 13deg);
  font-size: 0px;
  margin: 30px 0px 0px 0px;
  background: #c8c2c2;
  height: 250px;
  width: 200px;
}

.first-grid .text-container {
  padding: 120px 20px 20px 20px;

  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
  /* height: 39vh; */
  background: rgba(40, 70, 75, 0.7);
  box-shadow: 0 8px 32px 0 gray;
  /* backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px ); */
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.first-grid .text-container h3 {
  margin: 0px 0px 10px 0px;
  color: var(--light-green-color);
  font-size: 18px;
}
.first-grid .text-container p {
  font-size: 1em;
  margin-bottom: 10px;
  color: white;
}
.first-grid .text-container div {
  margin-top: 15px;
}
